@charset "utf-8";

/*
	Operation Tyrannosaur Layout Styles
	
	Author:	Morgan Matchette
	Date:	December 11, 2019
	Filename:	ot_discovery.css

*/

/* HTML & Body Styles */
html, body, header, img, p, section, ul, li, nav, footer {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-image: url(dino-bg.png);
	background-size: 500px 500px;
	background-repeat: repeat;
	background-color: rgb(200,200,200); /* Add bg color */
	font-family: Calibri; /* < Add font */
}

body {
	background-color: rgb(120,90,70);
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: 2px solid white;
}

/* Body Header Styles */
body > header {
	width: 100%;
}

body > header > img {
	display: block;
	width: 100%;
	min-height: 350px;
}

body > header > nav.horizontalNav li {
	width: 20%;
}

/* Navigation Styles */
nav.horizontalNav li {
	display: block;
	float: left;
	font-size: 1.5em;
}

nav.horizontalNav a {
	background-color: rgb(178,178,202);
	font-size: 1.4 em;
	line-height: 2.5em;
	display: block;
	text-align: center;
	height: 60px;
	text-decoration: none;
}

.horizontalNav li a:link, .horizontalNav li a:visited {
	color: black;
}

.horizontalNav li a:hover {
	color: yellow;
	background: url(rex-silhouette.jpg) no-repeat;
	background-position: center;
	background-color: rgb(178,178,202);
	width: 100%;
}

/* Left-Hand Styles */
section#leftColumn {
	clear: left; 
	float: left;
	width: 60%;
	padding: 0.5em;
}

section#leftColumn img {
	width: 100%;
}


/* Right-hand Styles */
section#rightColumn {
	float: left;
	font-size: 0.9em;
	line-height: 1.6em;
	width: 40%;
	padding: 0.5em;
}

section#rightColumn img {
	width: 90%;
}


/* Footer Styles */
footer {
	clear: left;
	background-color: rgb(130,90,90);
}

footer::after {
	clear: both;
	content: "";
	display: table;
}
